doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            //- if fakeUser.loggedIn
            //-     small Hello #{fakeUser.username}
            //- nav
            //-     ul 
            //-         if fakeUser.loggedIn
            //-             li 
            //-                 a(href="/logout") Log out
            //-         else        
            //-             li 
            //-                 a(href="/login") Login    
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    if loggedIn 
                        li 
                            a(href="/users/logout") Logout
                        li   
                            a(href="/my-profile") #{loggedInUser.username}의 Profile
                        if loggedInUser.avatarUrl 
                            li    
                                img(src=loggedInUser.avatarUrl, style="width:50px; height:50px; border-radius:50%")
                    else
                        li 
                            a(href="/join") Join 
                        li 
                            a(href="/login") Login 
                    li 
                        a(href="/search") Search
                    li 
                        a(href="/videos/upload") Upload Video

        main
            block content
    include partials/footer.pug 